<!doctype HTML>

<html lang="en">
	<head>
		<link href="/scripts/bootstrap-3.2.0-dist/css/bootstrap.css" rel="stylesheet">
		<script src="/scripts/angular.min.js"></script>
		<script src="/scripts/angular-route.min.js"></script>
		<script src="/scripts/angular-sanitize.js"></script>
		<script src="/scripts/ui-bootstrap-tpls-0.11.0.min.js"></script>
		<script src="app.js"></script>
	</head>

	<body ng-app="angularApp">
		<!--Nav Header-->
		<nav class="navbar navbar-inverse navbar-fixed-top" ng-controller="navController">
			<div class="container-fluid">
				<ul class="nav navbar-nav">
					<a class="navbar-brand" href="{{links.home.url}}">{{links.home.text}}</a>
					<li ng-repeat="link in links.linklist"><a href="{{link.url}}">{{link.text}}</a></li>
					<li ng-class="(dropdownActive) ? 'dropdown open' : 'dropdown'" ng-mouseleave="dropdownMouseleave()">
						<a href="" class="dropdown-toggle" ng-click="toggleDropdown()">Projects<b class="caret"></b></a>
						<ul class="dropdown-menu" role="menu">
							<li ng-repeat="project in links.projectlist"><a href={{project.url}} target="_blank">{{project.text}}</a></li>
						</ul>
					</li>
				</ul>
			</div>
			</nav>

			<div class="main">
			<!--Main Content -->
			<div ng-view></div>
		</div>
	</body>
</html>
