<!DOCTYPE html>
<html ng-app="reservationApp">
	<head>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.js"></script>
		<script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.0.js"></script>
		<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
		<script src='https://cdn.firebase.com/js/client/1.0.15/firebase.js'></script>
		<script src="https://cdn.firebase.com/libs/angularfire/0.8.0/angularfire.min.js"></script>
		<script src="app.js"></script>
	</head>

	<body ng-controller="reservationController">
		<div class="container">

			<h1>Event Registration</h1>
			<div id="user-management">
				<div class="row" id="user-management-titles">
					<div class="col-md-4">
						<h3>Set User</h3>
					</div>
					<div class="col-md-6">
						<h3>Add New User</h3>
					</div>
				</div>

				<div class="row" id="user-management-controls">
					<div class="btn-group col-md-4" dropdown is-open="status.isopen" id="user-select">
						<button type="button" class="btn btn-primary dropdown-toggle">
							<div ng-show="currentUser != null">{{currentUser.name}}
								<span class="caret"></span></div>
							<div ng-show="currentUser == null">Select User<span class="caret"></span></div>
						</button>
						<ul class="dropdown-menu" role="menu">
							<li ng-repeat="user in users" ng-click="setUser(user)"><a href='#'>{{user.name}}</a></li>
						</ul>
					</div>
					<div id="new-user">
						<div class="col-md-2">
							<input class="form-control" placeholder="New Username" ng-model="newUsername">
						</div>
						<div class="col-md-1">
							<button class="btn" ng-click="saveNewUser(newUsername)">Save New User</button>
						</div>
					</div>
				</div>
			</div>


			<div id="newEvents" style="margin-top: 60px">
				<h3>Add new event</h3>
				<div class="row" id="new-events-input">
					<div class="col-md-4">
						<input type="text" class="form-control" placeholder="New Event Name" ng-model="newEventInputs.name">
					</div>

					<div class="col-md-4">
						<p class="input-group">
						<input type="text" placeholder="New Event Date" class="form-control" datepicker-popup="{{format}}"
						ng-model="newEventInputs.date" is-open="datepickerOpened" datepicker-options="dateOptions" 
						close-text="Close"/>
						<span class="input-group-btn">
							<button type="button" class="btn btn-default" ng-click="datepickerOpen($event)">
								<i class="glyphicon glyphicon-calendar"></i></button>
						</span>
						</p>
					</div>
					<div class="col-md-2">
						<button class="btn btn-success" ng-click="saveNewEvent(newEventInputs, events)">Save</button>
					</div>
				</div>
			</div>

			<div id="event-lists" style="margin-top: 60px">
				<div class="alert alert-warning" ng-show="errorMessage">
					<strong>Error:</strong> {{errorMessage}}
				</div>
				<h3 style="padding-top: 15px">Unreserved Events</h3>
				<table class="table table-striped" id="unreserved-events">
					<th>Date</th><th>Event Name</th><th></th>
					<tr ng-repeat="event in events | filter:{'reserved': false}" style="padding-top: 20px">
						<td>{{event.date}}</td><td>{{event.name}}</td><td>
							<button class="btn btn-success" ng-click="reserveEvent(event, currentUser)"> Reserve </button></td>
					</tr>
				</table>

				<h3 style="padding-top: 15px">Reserved Events</h3>
				<table class="table table-striped" id="reserved-events">
					<th>Date</th><th>Event Name</th><th>Reserved By</th><th></th>
					<tr ng-repeat="event in events | filter:{'reserved': true}" style="padding-top: 20px">
						<td>{{event.date}}</td><td>{{event.name}}</td><td>{{event.reservedBy}}</td>
						<td> <button class="btn btn-success" ng-click="unreserveEvent(event)"> Unreserve </button></td>
					</tr>
				</table>
			</div>
		</div>

	</body>
</html>
